# Backend
/vendor/
/node_modules/
/storage/framework/views/*.php
/storage/logs/*.log
/.env
/.env.backup
/.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# Flutter
themvet_mobile/.dart_tool/
themvet_mobile/.packages
themvet_mobile/.pub/
themvet_mobile/.pub-cache/
themvet_mobile/build/
themvet_mobile/.flutter-plugins
themvet_mobile/.flutter-plugins-dependencies
themvet_mobile/pubspec.lock
themvet_mobile/.metadata
themvet_mobile/android/.gradle/
themvet_mobile/android/app/build/
themvet_mobile/android/local.properties
themvet_mobile/android/key.properties
themvet_mobile/ios/Pods/
themvet_mobile/ios/.symlinks/
themvet_mobile/ios/Flutter/Flutter.framework
themvet_mobile/ios/Flutter/Flutter.podspec
themvet_mobile/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
themvet_mobile/linux/flutter/ephemeral/
themvet_mobile/windows/flutter/ephemular/
themvet_mobile/.idea/
themvet_mobile/.vscode/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
